<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World!</title>
    <link rel="stylesheet" href="../static/css/style-main.css">
</head>
<body>
    <div class="frame">
        <div class="barra">
            <h2 id="ValCons" class="unselectable">Valvero Consultoria</h2>
            <h3 id="menuIni" class="unselectable">Menu Inicial</h3>
        </div>
        <div class="clientes"></div>
        <div class="pdm"></div>
        <div class="outra"></div>
    </div>
</body>
</html>